<nav class="main-nav full-bleed">
  <ul>
    <li class="logo">Better&nbspMeals&nbsp<i class="fas fa-leaf"></i></li>
    <li><a href="/index">Home</a></li>
    <li><a href="/search">Search&nbspMeals</a></li>
    <li><a href="/myMeals">My&nbspMeals</a></li>
    <li><a href="/mealPlan">Meal&nbspPlan</a></li>
  </ul>
</nav>