<nav class="main-nav full-bleed">
  <ul>
    <li class="logo">Better&nbspMeals&nbsp<i class="fas fa-leaf"></i></li>
    <li><a href="/test">Home</a></li>
    <li><a href="/test">Search&nbspMeals</a></li>
    <li><a href="/test">My&nbspMeals</a></li>
    <li><a href="/test">Meal&nbspPlan</a></li>
  </ul>
</nav>