<% layout('layouts/boilerplate')%>
<main class="wrapper"></div>     
<!-- Text Section-->
    <section class="intro">
      <h1>Better Meals <i class="fas fa-leaf"></i></h1>
      <p>Lorem ipsum dolo sit amet consectetur adipisicing elit. Modi, ipsam! Nihil quo minima nulla atquel!
      </p>
      <p>Lorem ipsum dolo sit amet consectetur adipisicing elit. Modi, ipsam! Nihil quo minima nulla atquel!
      </p>
    </section>
    <!--Getting Started Link-->
    <nav class="body-nav"><a href="/">
        Get Started!</a>
    </nav>
</main>