<% layout('layouts/boilerplate')%>

<main class="wrapper">
  <div class="intro">
    <h1>My Meals</h1>
  </div>

  <section id="recipe-display" class="full-bleed">
    <% for(let meal of savedMeal) {%> 
      <div class="recipe-card">
        <img class="recipe-img" src="<%=meal.image%>">
        <h2><a href="<%=meal.sourceURL%>"><%=meal.label%></a></h2>
        <p><%=meal.ingredients%></p>
        <i class="fas fa-clipboard-list fa-2x"></i>
      </div>
    <% } %> 
  </section>

</main>