<% layout('layouts/boilerplate')%>

<main class="wrapper">

  <div class="intro">
    <h1>Let's Begin!</h1>
    <h2>What are you searching for today?</h2>
  </div>

  <div class= "options">
    <form action="">
      <input id="search" type="text" placeholder="What'll it be?">
    </form>
    <ul>
      <li id="searchBtn">Search</li>
    </ul>
  </div>

  <section id="recipe-display" class="full-bleed"></section>

</main>

<script type="text/javascript" src="/scripts/search.js"></script>

