<% layout('layouts/boilerplate')%>
<main class="wrapper">
  <div class="intro">
    <h1>Let's Begin!</h1>
    <h2>What are you searching for today?</h2>
</div>
<div class= "options">
  <ul>
    <li id="breakfast">Breakfast</li>
    <li>Lunch</li>
    <li>Dinner</li>
    <li>Other</li>
  </ul>
</div>
  <section id="recipe-display" class="full-bleed">

  </section>
</main>
<script src="/scripts/search.js"></script>