<% layout('layouts/boilerplate')%>



  <div class="intro">
    <h1>Let's Begin!</h1>
    <h2>What are you searching for today?</h2>
  </div>

  <div class= "search-container">
      <input id="search" type="text" placeholder="e.g. fish, tacos, salsa, dinner">
      <div id="search-button">Search</div>
  </div>

  <section id="recipe-display" class="full-bleed"></section>



<script type="text/javascript" src="/scripts/search.js"></script>

