:root {
  --primary: #E5F2C9;
  --dark: #154001;
  --medium: #467302;
  --light: #84BF04;
  --secondary: #D9F2B3;
  --card: #D0F2EA;
  --shadow: 0 1px 5 px rgbs(104, 104, 104, 0.8)
}

body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("https://images.unsplash.com/photo-1611877605973-b22f32d7c237?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80 ");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}


.head-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 1.5rem;
  height: 1.5rem;
  color: rgba(255,255,255,0.5);
}
.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  text-align: center;
}
.nav {
  margin-right: 3rem;

}

.nav-link {
  display: flex;
  flex-wrap: wrap;
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255,255,255,0.5);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
  color: rgba(255,255,255,0.5);
  border-bottom-color:rgba(255,255,255,0.5);
}

.nav-link.active {
  color: white;
  border-bottom-color:white;

}

.btn-secondary, .btn-secondary:hover{
  color: #333;
  text-shadow: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}



h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  font-size: 3.5rem;
  color: var(--light);
}

.text-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 3rem;
 
}
p{
  max-width: 500px;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

.button-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  padding: 1.25rem 3.5rem;
  color: var(--light);
  border: 1px solid white;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.button-text:hover {
  background-color: var(--secondary);
  color: var(--dark);
  border: 1px solid var(--dark);
  box-shadow: var(--shadow);
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

 @media only screen and (max-width: 450px){
  .head-container{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .logo-container{
    /* flex-direction: row; */
    align-items: center;
  }

  .nav{
    margin:auto;
    align-items: center;
  }

  h1{
    font-size: 2rem;
  }
  
} 