
.options ul {
  list-style: none;
  display: grid;
  grid-gap: 1rem;
  padding: 0;
  margin-top: 2rem;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.options li {
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  border: 2px dashed var(--dark);
  border-radius: 5px;
  font-size: 1.1rem;
}

.options li:hover {
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  border: 2px dashed var(--dark);
  border-radius: 5px;
  background-color: var(--secondary);
}

#recipe-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  
}

.recipe-card {
  width: 35rem;
  height: 25rem;
  background-color: rgb(234, 247, 237);
  margin: 0 1rem 1rem 1rem;
  border-radius: 5%;
  border: 5px dashed var(--dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

#this-one {
  justify-self: left;
}

.recipe-img {
  max-width: 80%;
  max-height: 60%;
  min-width: 25rem;
  min-height: 10rem;
  border-radius: 5%;
  margin: 5px;
}
.recipe-card p {
  margin: 0 0 0.5rem 1rem;
  width: 80%;
}

h2 {
  margin: 0;
}

.fa-clipboard-list {
  size: 2x;
}