:root {
  --primary: #E5F2C9;
  --dark: #154001;
  --medium: #467302;
  --light: #84BF04;
  --secondary: #D9F2B3;
  --card: #D0F2EA;
  --shadow: 0 1px 5 px rgbs(104, 104, 104, 0.8)
}

.search-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 500px;
}

#search {
  margin: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0.75rem;
  font-size: 1.2rem;
  color:var(--medium);
}

#search-button {
  margin: 1rem auto;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: var(--dark);
  color: var(--primary);
  border-radius: 3px;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  transition: all 0.5s ease;
  width: 250px;
}

#search-button:hover {
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px black;
  cursor: pointer;
}

#recipe-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  
}

.recipe-card {
  width: 35rem;
  height: 25rem;
  background-color: rgb(234, 247, 237);
  margin: 0 1rem 1rem 1rem;
  border-radius: 5%;
  border: 5px dashed var(--dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}



.recipe-img {
  max-width: 80%;
  max-height: 60%;
  min-width: 25rem;
  min-height: 10rem;
  border-radius: 5%;
  margin: 5px;
}
.recipe-card p {
  margin: 0 0 0.5rem 1rem;
  width: 80%;
}

.fa-clipboard-list {
  size: 2x;
}